<div class="relative py-24 sm:px-6 sm:py-26 lg:px-8 mx-auto">
  <h2 class=" text-3xl font-semibold leading-7 text-indigo-600 text-center">
    Dashboard
  </h2>
  <p class="mt-6 text-lg leading-8 text-gray-600 text-center">
  </p>
  <div
    class="absolute left-1/2 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4 pb-14"
  >
    <div
      class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5"
    >
      <ul role="list" class="divide-y divide-gray-100">
        <% if(!empty){%> 
          <%data.forEach((info)=>{%>
        <li
          class="flex flex-col sm:flex-row sm:justify-between gap-x-6 py-8 px-6 gap-4"
        >
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto text-center sm:text-left">
              <p class="text-xl font-semibold leading-6 text-gray-900">
                <%= info.fileName %>
              </p>
              <a
                class="mt-1 truncate text-md font-semibold text-blue-700"
                href="<%= info.url %>"
                target="_blank"
              >
                <i class="fa-solid fa-link text-blue-700 me-1"></i>Link
              </a>
            </div>
          </div>
          <div class="shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900 text-center">
              Deployed
              <span class="font-semibold"
                ><%= info.createdFormattedDate %></span
              >
            </p>
            <p class="text-sm leading-6 text-gray-900 text-center">
              Updated
              <span class="font-semibold"
                ><%= info.updatedFormattedDate %></span
              >
            </p>
          </div>
          <button onclick="deleteItem(<%= JSON.stringify(info) %>)" class="bg-red-600 text-white px-3 py-2 rounded-md hover:bg-red-600 font-semibold">
            Delete
          </button>          
        </li>
        <%})%> 
        <%} else {%>
        <h2 class="text-base font-semibold leading-7 text-gray-600  p-5 text-center">
          You Have Not Deployed Any Website.Go To:-<br><a class="text-xl font-bold underline text-indigo-600" href="/upload">Deploy </a>
        </h2>
        <%}%>
      </ul>
    </div>
  </div>
</div>
<script>
 
  async function deleteItem(item) {
    const {id,fileName}=item;
        fetch(`dashboard/${id}/${fileName}`, {
          method: 'DELETE',
        }).then(response=>{
          if(response.status==204)
          {
            window.location.reload();
          }
        })
  }

</script>
